* {
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.frame li div.cinfo h4 {
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	text-shadow: none;
	margin: 0px;
}
.frame li div.cinfo strong {
	line-height: 30px;
}
.frame li div.cinfo p {
	line-height: 20px;
}
.frame li div.cinfo {
	display: block;
	background: #e96f91;
	color: #fff;
	position: absolute;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding-top: 41px;
}
.frame li:hover div.cinfo {
	width: 195px;
	height: 195px;
	opacity: 1;
	filter: alpha(opacity = 80)
}
.frame li div.cinfo {
	top: 0px;
	left: 0px;
	width: 195px;
	height: 0
}
.team-social a {
	color: #eea8bc;
	font-size: 20px;
	margin-right: 8px;
	text-shadow: none;
}
.team-social a:hover {
	color: #fff;
	font-size: 20px;
}
/*==============================  Flickr Gallery  ====================================*/

.lb-album {
}
.lb-album li {
	float: left;
	margin: 5px;
	position: relative;
	z-index: 99;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
	border-radius: 5px;
	width: 75px;
	height: 75px;
}
.lb-album li > a {
	width: 75px;
	height: 75px;
	position: relative;
	padding: 0px;
}
.lb-album li > a span {
	position: absolute;
	width: 75px;
	height: 75px;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 75px;
	color: rgba(255,255,255,0.8);
	font-size: 18px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgba(0,0,0,.5);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	border-radius: 5px;
	border: #ffffff solid 1px;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.56)), color-stop(100%, rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	width: 550px;
	height: 80px;
	margin: 40px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	z-index:999;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3 {
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 16px;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	font-size: 14px;
	text-align: center;
	width: 100%;
}
.lb-overlay a.lb-close {
	z-index: 1001;
	color: #000;
	position: absolute;
	top: 125px;
	left: 50%;
	font-size: 35px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
}
.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next {
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
	opacity: 0.8;
	filter: alpha(opacity=80); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev {
	margin-left: -30px;
	background: transparent url(../images/arrows.html) no-repeat top left;
}
.lb-next {
	margin-left: 6px;
	background: transparent url(../images/arrows.html) no-repeat top right;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img, .lb-overlay:target a.lb-close {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
 height: 100%;
}
/*==============================  Flickr Gallery End  ====================================*/



/*==============================  Gallery Pages Hover  ====================================*/

.gallery-items li, .gallery-items h3, .gallery-items p, .gallery-items a {
	margin: 0;
}
.gallery-items {
	margin: 0;
}
.gallery-items li {
	margin-bottom: 30px;
}
.gallery-items a {
	list-style: none outside none;
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
}
.gallery-items a div.ghover h3 {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 5px;
	text-transform: uppercase;
	color: #FFF;
}
.gallery-items a div.ghover p {
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}
.gallery-items a div.ghover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	color: #FFFFFF;
	display: block;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition: all 0.3s ease-in-out 0s;
	text-align: center;
	border-radius: 5px;
}
.gallery-items a:hover div.ghover {
	height: 100%;
	opacity: 1;
	width: 100%;
}
.gall-info {
	bottom: 5%;
	position: absolute;
	width: 90%;
	left: 5%;
	right: 5%;
}
.gallery-items a div.ghover {
	bottom: 0px;
	height: 100%;
	right: 0px;
	width: 100%;
}
.ghover h3 {
	opacity: 0;
	transform: translateX(200px);
	transition: all 0.4s ease-in-out 0s;
}
.ghover p {
	opacity: 0;
	transform: translateX(-200px);
	transition: all 0.4s ease-in-out 0s;
}
.ghover:hover h3 {
	opacity: 1;
	transform: scale(1);
	transition-delay: 0.2s;
}
.ghover:hover p {
	opacity: 1;
	transform: scale(1);
	transition-delay: 0.2s;
}
.col-4 .ghover .pluss {
	margin-top: 20%
}
.col-3 .ghover .pluss {
	margin-top: 12px
}
.ghover .pluss {
	background: rgba(255,255,255,.5);
	border-radius: 50px;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	line-height: 55px;
	text-shadow: 0px 0px 5px #7f7f7f;
	margin-bottom: 15%;
}
.ghover .pluss i {
	color: #fff;
	font-size: 16px;
	text-shadow: 0px 0px 5px #7f7f7f;
}
.gallery-wrap {
	overflow: hidden;
	position: relative;
}
.gallery-info {
	background-color: #000;
	bottom: 0;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity = 0);
	position: absolute;
	width: 100%;
	z-index: 1000;
}
.gallery-info h4, .gallery-info p {
	padding: 0 10px;
}
.gallery-wrap:hover .gallery-info {
	opacity: 0.75;
	filter: alpha(opacity = 75);
	transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
}
/*==============================  Gallery Pages Hover End  ====================================*/



/*==============================  Product Pages Hover Start  ====================================*/


.pro-items a {
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
}
.pro-items a div.prohover h3 {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.pro-items a div.prohover p {
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}
.pro-items a div.prohover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	color: #FFFFFF;
	display: block;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition: all 0.3s ease-in-out 0s;
	text-align: center;
	border-radius: 5px;
}
.pro-items a:hover div.prohover {
	height: 100%;
	opacity: 1;
	width: 100%;
}
.prohover {
	bottom: 5%;
	position: absolute;
	width: 90%;
	left: 5%;
	right: 5%;
}
.pro-items a div.prohover {
	bottom: 0px;
	height: 100%;
	right: 0px;
	width: 100%;
}
.prohover {
	background-color: rgba(146, 96, 91, 0.5);
	opacity: 0;
	transition: all 0.3s ease-in 0.4s;
}
.prohover h3 {
	opacity: 0;
	transform: translateX(200px);
	transition: all 0.4s ease-in-out 0s;
}
.prohover p {
	opacity: 0;
	transform: translateX(-200px);
	transition: all 0.4s ease-in-out 0s;
}
.prohover:hover h3 {
	opacity: 1;
	transform: scale(1);
	transition-delay: 0.2s;
}
.prohover:hover p {
	opacity: 1;
	transform: scale(1);
	transition-delay: 0.2s;
}
/*==============================  Product Pages Hover End  ====================================*/

.background-scale:hover img {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
	border-radius: 5px 5px 0 0;
}
.revbackground-scale img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	border-radius: 5px 5px 0 0;
}
.revbackground-scale:hover img {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	border-radius: 5px 5px 0 0;
	background: rgba(0,0,0,.4)
}
.block-image {
	position: relative;
	z-index: 99;
	overflow: hidden;
}
.block-image .img-overlay {
	position: absolute;
	background: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}
.block-image:hover .img-overlay {
	opacity: .6;
	visibility: visible;
}
.block-image .img-overlay-3-up {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 199;
	height: 100%;
	top: -100%;
	background: rgba(0,0,0,.4)
}
.block-image .img-overlay-3-down {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 199;
	height: 100%;
	bottom: -100%;
	background: rgba(0,0,0,.4)
}
.block-image:hover .img-overlay-3-up {
	opacity: .6;
	top: -50%;
	visibility: visible;
}
.block-image:hover .img-overlay-3-down {
	opacity: .6;
	bottom: -50%;
	visibility: visible;
}
/* -------------------- Buttons Color Scheme -------------------- */
.block-image li.white-rounded {
	background-color: rgba(255,255,255,.5);
	border: medium none;
	display: inline-block !important;
	float: none !important;
	font-size: 14px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	margin: 0 2px;
	text-align: center;
	width: 50px;
	border-radius: 250px 250px 250px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5), inset 0 0 2px rgba(0,0,0,.1);
}
.block-image li.white-rounded > a {
	color: #fff;
	display: block;
	font-weight: normal;
	text-shadow: rgba(0,0,0,.5) 1px 1px 1px;
}
.white-rounded a {
	color: #FFF !important
}
/* -------------------- Static Style -------------------- */

.block-image .static-style {
	visibility: hidden;
	margin: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -15px;
	z-index: 299;
}

.services-details .block-image .static-style { 

margin-top: 0px;

}


.block-image:hover .static-style {
	opacity: 1;
	-webkit-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
	visibility: visible;
}
/* -------------------- Common Style -------------------- */
.block-image ol.common-style {
	visibility: hidden;
	margin: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -20px;
	visibility: visible;
}
.block-image:hover ol.common-style {
	opacity: 1;
	visibility: visible;
}
/* -------------------- About Hover -------------------- */

.team2 .block-image {text-align:center}

.team2 .block-image .imgb-overlay {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 223px;
	z-index: 199;
	height: 223px;
	bottom: -100%;
	background: rgba(0,0,0,.40);
	border-radius:100%;
	text-align:center;
	margin:0 20px;
}
.team2 .block-image:hover .imgb-overlay {
	opacity: .6;
	bottom: 20px;
	visibility: visible;
}
