/** Table of Content 

-	Global Styles					Line 	55	 -	180
-	Main Title						Line 	189  -	233
-	Topbar Start					Line 	240  -	362
-	Login 							Line	368  - 	444
-	Header  						Line 	457  - 	681
-	Main slider  					Line	692  -  780
-	Welcome 						Line	785  -  805
-	Home Page Services				Line	810  -  870
-	Home Page Services Text			Line	872  - 	915
-	Our Staff						Line	972  -  1006
-	Pricing Table					Line 	1008  -  1139
-	Products						Line	1172 -  1207
-	Footer							Line	1234 -  1405
-	404 Page						Line	1409 -  1441
-	Cart Page						Line	1484 - 1669
-	Check Out						Line	1675 -  1890
-	Register / Login				Line	1896 - 1966
-	Contact							Line	1971 - 2073
-	Image Gallery					Line	2076 - 2115
-	Reservation						Line	2118 - 2133
-	Services						Line    2138 - 2276
-	Sidebar							Line    2280 - 2346
-	Team							Line	2350 - 2483
-	About 							Line	2487 - 2717
-	Blog							Line	2726 - 2915
-	Blog Details					Line	2927 - 3143
-	Products						Line	3148 - 3377

-	Pricing							Line	3382 -  3627

End of Table of Content Line 37 **/















/* Global Styles Start  */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/* Css Imports  */
@import url(cp_load.css);
@import url(prettyPhoto.css);
@import url(hover.css);
@font-face {
    font-family: "Yekan";
    src: url( "../fonts/W_YEKAN_0.TTF" );
    src: local( "?" ), url( "../fonts/W_YEKAN_0.TTF" )format( "truetype" );
}
.Roboto {
	font-family: 'Roboto', sans-serif;
}
.Open {
	font-family: 'Open Sans', sans-serif;
}
html, body {
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
	font-family: 'Yekan','Open Sans', sans-serif;
	font-size: 12px;
	color: #999999;
	text-align:right;
}
/*body, a, a:hover { cursor:url(../images/mickey_mouse_finger.png), auto; } */

img {
	max-width: 100%
}
p {
	line-height: 20px;
	margin: 0px;
}
h1 {
	font-family: 'Roboto', sans-serif;
}
h2 {
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: #e96f91;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}
h3 {
	font-family: 'Yekan','Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	color: #666666;
}
h4 {
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
h5 {
	font-family: 'Yekan','Roboto', sans-serif;
}
h6 {
	font-family: 'Roboto', sans-serif;
}
.mtop1 {
	margin-top: 50px;
	clear: both
}
ul, ol {
	margin: 0px;
	padding: 0px;
	list-style: none
}
button, input[type='submit'], .btn:hover, #paralax button:hover {
	background: #FFF;
	border: #CCC solid 1px;
	border-radius: 3px;
	font-size: 12px;
	color: #999;
	text-align: center;
	padding: 8px 14px;
	transition: background 0.4s ease, padding 0.8s linear;
}
button:hover, input[type='submit']:hover, .btn {
	background: #e96f91;
	border: #e96f91 solid 1px;
	border-radius: 3px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 8px 14px;
	transition: background 0.4s ease, padding 0.8s linear;
}
a, a:visited, a:active, a:focus {
	outline: none !important;
}
a:hover {
	text-decoration: none;
	outline: none;
}
.gap {
	clear: both;
	height: 40px;
}
.gap-50 {
	clear: both;
	height: 50px;
}
.gap-100 {
	clear: both;
	height: 120px;
}
.gap-30 {
	clear: both;
	height: 30px;
}
.gap-35 {
	clear: both;
	height: 35px;
}
.gap-45 {
	clear: both;
	height: 45px;
}
.gap-25 {
	clear: both;
	height: 25px;
}
.gap-20 {
	clear: both;
	height: 20px;
}
.gap-clear {
	clear: both;
	height: 10px;
}
/* Global Styles End  */


iframe {width:100%; border:0px;}

/*======================================= Home Page Start  ====================================*/

/*----------------------- Main Title Start ----------------------------*/

.main-title {
	text-align: center;
}
h2.main-title, .pro-title h2 {
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: #e96f91;
	text-transform: uppercase;
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 13px;
}
.pro-title h2 {
	padding: 0px;
	color: #e96f91 !important;
	font-size: 26px !important;
}
.pro-title .sub-title {
	text-align: left;
	font-weight: 400;
	text-transform: none
}
h2.main-title:after, h2.main-title:before {
	position: relative;
	content: "";
	width: 275px;
	background: url(../images/title-dots.png);
	background-repeat: repeat-x;
	background-position: 1px;
	margin-left: 15px;
	margin-right: 15px;
	height: 20px;
	display: inline-block;
}
.sub-title {
	text-align: center;
	font-size: 14px;
	color: #666666;
	font-family: 'Yekan','Open Sans', sans-serif;
	font-weight: 600;
	margin: 1px 0 28px 0;
	text-transform: none;
}
/*----------------------- Main Title End ----------------------------*/




/*----------------------- Topbar Start  ----------------------------*/

.cirle img {
	border-radius: 100% !important;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.cirle {
	border-radius: 100%;
	height: 240px;
	padding: 0;
	position: relative;
	width: 240px;
	border: #cccccc solid 10px;
	overflow: none;
}
.cirle:before {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 10px solid #FFFFFF;
	content: "";
	display: block;
	height: 217px;
	left: -18px;
	padding: 0;
	position: absolute;
	top: -50%;
	width: 300px;
}
.cirle:hover:before {
	display: none;
}
.cirle11:before {
	content: "";
	background-color: #FFFFFF;
	height: 88px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.topbar {
	background: #e96f91;
	height: 50px;
	line-height: 50px;
	-moz-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
	box-shadow: 1px 2px 2px rgba(0,0,0,.2);
	position: relative;
	z-index: 9999;
	color: #FFF;
	font-family: 'Yekan','Roboto', sans-serif;
	font-weight: 400;
}
.topbar .social {
	margin-right: 34px;
}
.topnav a {
	color: #FFF;
	margin-left: 12px;
	margin-right: 12px;
}
.topnav span {
	padding-left: 12px;
}
.social li {
	display: inline-block;
}
.topbar .social {
	position: absolute;
	right:0;
}
.social a {
	font-size: 18px;
	color: #fa9dac;
	margin-left: 6px;
	margin-right: 6px;
}
.social a:hover {
	color: #ffbfc9;
}
.social [title] {
	position: relative;
}
.social [title]:after {
	content: attr(title);
	color: #fff;
	padding: 5px;
	position: absolute;
	left: -9999px;
	opacity: 0;
	white-space: nowrap;
	-webkit-transition: 0.25s linear opacity;
}
.social [title]:hover:after {
	left: -10px;
	right: auto;
	opacity: 1;
	color: #ffbfc9;
	font-size: 11px;
	top: 1px;
}
.hlinks {float:left}

.hlinks li {
	display: inline-block
}
.hlinks a {
	color: #FFF;
	font-family: 'Yekan','Roboto', sans-serif;
}
.hlinks li:after {
	content: "|";
	margin-left: 12px;
	margin-right: 13px;
}
.hsearch {
	background: #fa9dac;
	color: #FFF;
	font-size: 12px;
	padding: 7px 2px 7px 3px;
	text-align: center;
	cursor: pointer;
	position: relative;
	z-index: 999;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.hsearch .fa {
	width: 25px;
}
.bor {
	border: #000 solid 1px;
}



/*----------------------- Topbar End  ----------------------------*/


/*----------------------- Login Bar Start  ----------------------------*/

#header-login h2 {
	color: #FFF;
	font-size: 16px;
	margin-bottom: 20px;
}
#header-login {
	background: #e96f91;
	border-bottom: #FFF solid 1px;
	padding: 30px 0;
	display: none;
	position: absolute;
	width: 100%;
	top: 0px;
	z-index: 99999;
}
#header-login .login-form {
	background: #FFF;
	box-shadow: 0 2px 2px rgba(0,0,0,.25);
	padding: 10px;
	border-radius: 2px;
}
#header-login .login-form input[type="text"], #header-login .login-form input[type="password"] {
	border-radius: 2px;
	border: #d9d9d9 solid 1px;
	line-height: 38px;
	padding: 9px;
	margin-right: 10px;
}
#header-login .login-form .btn {
	border-radius: 2px;
	padding: 8px 32px;
	font-size: 14px;
}
.create-account {
	width: 100%;
	background: #c0617d;
	border: 0px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
	box-shadow: inset 0 -3px 0 #bb506d;
	display: block;
	line-height: 43px;
}
.create-account:hover {
	width: 100%;
	background: #bb506d;
	border: 0px;
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
	box-shadow: inset 0 -3px 0 #b43a57;
	display: block;
	line-height: 43px;
}
.cross {
	float: right;
	color: #FFF;
	font-size: 20px;
	margin-bottom: 9px;
}
.cross a, .login-here {
	color: #FFF;
	cursor: pointer;
}
#search {
	position: absolute;
	top: 10px;
	left: 45px;
	padding: 7px 0 7px 5px;
	border: 0;
	background: #fa9dac;
	width: 0px;
	color: #FFF;
	z-index: 99;
	height: 30px;
	text-align:right;
}
/*----------------------- Login Bar End  ----------------------------*/









/*----------------------- Header Start  ----------------------------*/

#header {
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1111;
}
.sticky {
	position: fixed !important;
	width: 100%;
	left: 0;
	top: 0 !important;
	z-index: 99999999 !important;
	border-top: 0;
	background: #FFF;
	box-shadow: 3px 0 5px rgba(0, 0, 0, 0.35);
	max-height: 100px;
}
.logo-home {
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	height: 69px;
	width: 139px;
	color:transparent;
}
.logo {
	background: rgba(0,0,0,.35);
	padding: 15px 30px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	display: inline-block;
}
/*  Home Sticky  */
.sticky .home-menu .navbar-default .navbar-nav > li > a {
	color: #e96f91;
}
.sticky .logo {
	background: none
}
.sticky .logo-home {
	background: url(../images/inner-logo.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	height: 69px;
	width: 139px;
}
/*  Home Sticky End  */


.home-menu {
	margin-top: -2px;
}
.home-menu .navbar-default .navbar-nav > li > a {
	color: #FFF
}
.home-menu .navbar-default .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.home-menu .navbar-default .navbar-nav > .dropdown > a:hover .caret, .sticky .home-menu .navbar-default .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #e96f91;
	border-top-color: #e96f91;
}
.home-menu .navbar-nav li:hover > a {
	color: #e96f91
}
.home-menu .navbar-default .navbar-nav > li > a:hover {
	background: #FFF;
	color: #e96f91
}
.mm .nav, .mm .collapse, .mm .dropup, .mm .dropdown {
	position: static;
}
.mm .container {
	position: relative;
}
.mm .dropdown-menu {
	left: auto;
}
.mm .nav.navbar-right .dropdown-menu {
	left: auto;
	right: 0;
}
.navbar-nav > li > .dropdown-menu {
	padding: 9px 20px;
	background: rgba(255,255,255,1);
	border-radius: 0px;
	border-bottom: 4px solid #e96f91;
}
.mm .dropdown.mm-fw .dropdown-menu {
	left: 0;
	right: 0;
}
.navbar-ex1-collapse .nav > li {
	display: inline-block;
	font-size: 14px;
font-weight:font-family: 'Roboto', sans-serif;
}
.navbar-nav > li > a {
	color: #FFF;
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 37px;
	padding-top: 39px;
	padding-left: 22px;
	padding-right: 22px;
	text-transform: uppercase;
}
.navbar-nav li:hover > a {
	background: #FFF;
	color: #e96f91;
	border-bottom: 4px solid #e96f91;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.nav > li > a:hover, .nav > li > a:focus {
	background: #FFF;
	color: #e96f91;
	border-bottom: 4px solid #e96f91;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
/*.nav > li > a:hover:before, .nav > li > a:focus:before {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #e96f91;
	content: "";
	position: absolute;
	bottom: 0px;
	left: 43%;
}*/



.nav .caret {
	border-bottom-color: #e96f91;
	border-top-color: #e96f91;
}
.nav a:hover .caret {
	border-bottom-color: #e96f91;
	border-top-color: #e96f91;
}
.dropdown-menu > li > a {
	line-height: 33px;
	border-bottom: #CCC solid 1px;
	font-size: 12px;
	color: #999999;
	padding: 0 15px;
	text-transform: uppercase;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #F5F5F5;
	color: #262626;
	text-decoration: none;
	box-shadow: none !important;
	border-bottom: #CCC solid 1px !important;
}
.dropdown-menu > li:nth-last-child(1) a, .list-unstyled > li:nth-last-child(1) {
	border-bottom: 0px !important;
}
.list-unstyled > li {
	line-height: 33px;
	border-bottom: #CCC solid 1px;
	font-size: 12px;
	display: block;
}
.list-unstyled > li a {
	color: #999999;
	padding: 0 15px;
	text-transform: uppercase;
	display: block;
}
.list-unstyled > li a:hover {
	color: #666666;
	background: #f5f5f5;
	display: block;
	padding: 0 15px;
	box-shadow: none !important;
}

.mm-content {width:500px; float:right;}

.mm-content .col-sm-4, .mm-content .col-sm-6, .mm-content .col-sm-3 {
	width: auto !important
}
/*----------------------- Inner Start  ----------------------------*/
.inner #header {
	position: relative;
	top: 0px;
	background: #FFF;
	box-shadow: 3px 0px 5px rgba(0,0,0,.35);
	z-index: 99
}
.inner .logo {
	background: none;
	padding: 20px 0px;
}
.inner .navbar-nav > li > a {
	color: #e96f91;
	border-bottom: 4px solid rgba(0,0,0,0);
}
.inner .nav > li > a:hover, .inner .nav > li > a:focus {
	border-bottom: 4px solid #e96f91;
}
.inner-titlebg {
	background: url(../images/inner-titlebg.png) bottom center;
	position: relative;
	z-index: 88;
	padding: 40px 0 12px 0;
}
.inner-titlebg h2 {
	color: #FFF;
	font-size: 26px;
	font-weight: 400;
	padding-bottom: 30px;
	text-shadow: 2px 0 3px rgba(0,0,0,.40);
}
.inner-titlebg h5 {
	color: #000;
	font-size: 13px;
	font-family: 'Yekan','Open Sans', sans-serif;
	font-weight: 300;
}
/*----------------------- Header End  ----------------------------*/









/*----------------------- Slider Start  ----------------------------*/
.main-slider {
	position: relative;
	width: 100%;
	z-index: 9;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.main-slider span:after, .main-slider span:before {
	background: url(../images/hp.png);
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0px;
}
.header-slider img {
	width: 100%;
}
.spbg {
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1111;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	display: none !important
}
.slider-text {
	background: rgba(0,0,0,.40);
	border: rgba(255,255,255,.50) solid 1px;
	position: absolute;
	left: 33%;
	right: 33%;
	border-radius: 10px;
	padding: 50px 87px;
	top: 31.5%;
	z-index: 11;
	text-align: center;
}
.slider-text h1 {
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 20px 0;
	padding: 0px;
}
.slider-text p {
	font-size: 16px;
	color: #FFF;
	line-height: 30px;
}
.main-slider .bx-controls-direction {
	position: absolute;
	left: 47%;
	right: 47%;
	bottom: 31.5%;
	z-index: 11;
}
.main-slider .bx-wrapper .bx-controls-direction a {
	text-indent: 0px;
	font-size: 0px;
}
.main-slider .bx-wrapper .bx-prev, .main-slider .bx-wrapper .bx-next {
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	background: none;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	height: 43px;
	width: 43px;
}
.main-slider .bx-wrapper a.bx-prev:after, .main-slider .bx-wrapper a.bx-next:after {
	content: "";
	color: #FFF;
	font-size: 20px;
	font-family: FontAwesome;
	line-height: 40px;
	padding-left: 16px;
	text-decoration: none;
	float: left;
}
.main-slider .bx-wrapper a.bx-next:after {
	content: "";
}
.main-slider .bx-wrapper .bx-prev:hover, .main-slider .bx-wrapper .bx-next:hover {
	background: rgba(255,255,255,.25)
}
/*----------------------- Slider End  ----------------------------*/


/*----------------------- Welcome Start  ----------------------------*/
.welcome {
	position: relative;
	z-index: 200;
	background: #FFF;
	padding: 48px 68px;
	text-align: center;
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25) inset;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25) inset;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25) inset;
	margin-top: -138px;
	z-index: 999;
}
.welcome-txt {
	font-size: 14px;
	color: #999999;
	font-family: 'Yekan','Open Sans', sans-serif;
	line-height: 24px;
	margin-bottom: 24px;
	padding-top: 7px;
}
/*----------------------- Welcome End  ----------------------------*/


/*======================================= Home Content Start ====================================*/

#hservices img {
	border-radius: 4px;
	margin-bottom: 0px;
}
.hservice {
	margin-bottom: 30px;
}
.hservice p {
	margin-bottom: 18px;
}
#hservices .gallery img {
	border: 0px !important;
}
.hservice .block-image .static-style {
	top: 20%
}
.services-details .sbtn, .services-details .sbtn:hover {
	padding: 5px 19px;
	text-transform: none;
}
.services-details .btn {
	font-size: 14px;
	padding: 8px 26px;
}
.services-details .hservice .block-image .static-style {
	top: 9%
}
.hservice .hicon {
	background: url(../images/ser-hicon.png) no-repeat;
	width: 100px;
	padding: 27px 0;
	display: inline-block;
	float: none;
	position: relative;
	top: 25px;
	text-align: center;
	text-transform: uppercase
}
.hicon strong {
	color: #E96F91;
	font-size: 24px;
	font-weight: 400;
	display: block;
}
.hicon span {
	font-size: 16px;
	text-decoration: line-through;
}
.hservice h4 {
	margin-top: 27px;
	margin-bottom: 7px;
}
.hservice h4 a, .bp-data h4 a {
	font-size: 14px;
	font-weight: 500;
	color: #666666;
	text-transform: uppercase;
	font-family:'Yekan';
}
.hservice h4 a:hover, .bp-data h4 a:hover {
	color: #e96f91
}
.hservice p, .bp-data p {
	line-height: 20px;
}
/*-------- Paralax Start  --------*/


#paralax {
	background: url(../images/hsparalax1.jpg) 50% 0 no-repeat fixed;
	height: 605px;
	width: 100%;
	background-size: cover;
	padding: 100px 0;
	margin-bottom: 45px;
	margin-top: 20px;
}
#paralax img {
	border-radius: 5px;
	border: #FFF solid 1px;
	box-shadow: 0 0 5px rgba(0,0,0,.30);
}
#paralax h2 {
	font-size: 35px;
	color: #FFF;
	font-weight: 300;
	margin-bottom: 20px;
	line-height: 85%;
	font-family:'Yekan';
}
#paralax p {
	font-size: 14px;
	color: #FFF;
	line-height: 24px;
}
#paralax ul > li {
	font-size: 14px;
	line-height: 26px;
	color: #FFF
}
#paralax ul > li:after {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 14px;
	color: #FFF;
	margin-left: 15px;
}
#paralax button {
	background: none;
	color: #FFF;
	margin-top: 18px;
}
/*-------- Home Blog Start  --------*/


.blog-home img {
	max-width: 100%;
	border-radius: 5px 5px 0 0;
}
.blog-home .hpost-img {
	position: relative
}
.hpost-img span {
	position: absolute;
	bottom: -50px;
	left: 31%;
	z-index: 9999;
}
.blog-home ul {
	background: #f5f5f5;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.hpost-img img.buser {
	border-radius: 60px;
	border: #FFF solid 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.bp-data {
	padding-top: 67px;
}
.bp-data h4 {
	margin-bottom: 12px;
}
.bp-data p {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
}
.blog-home ul.flinks {
	background: #e1e1e1;
	border-radius: 5px;
	display: block;
}
.blog-home ul.flinks li a {
	color: #999999
}
.blog-home ul.flinks li a:hover {
	color: #db6280
}
.blog-home ul.flinks li {
	display: inline-block;
	line-height: 35px;
	width: 32%;
	border-right: 1px solid #FFF;
}
.blog-home ul.flinks li:nth-last-child(1) {
	border: 0px;
}
/*-------- Home Staff Start  --------*/

.staff-wrapp {
	width: 100%;
	background: #f5f5f5;
	padding: 43px 0 50px;
	position: relative;
}
.staff-wrapp .controls {
	position: relative;
	width: 100%;
	z-index: 999;
	color: #cccccc
}
.staff-wrapp .controls .btn.prev {
	position: absolute;
	left: -47px;
	background: none;
	font-size: 30px;
	color: #cccccc;
	top: 82px;
	border: 0px;
}
.staff-wrapp .controls .btn.next {
	position: absolute;
	right: -47px;
	background: none;
	font-size: 30px;
	color: #cccccc;
	top: 82px;
	border: 0px;
	outline: none;
}
.staff-wrapp .controls .btn.next:hover, .staff-wrapp .controls .btn.prev:hover {
	background: none;
	border: 0px;
	color: #e96f91;
	outline: none;
}
/*-------- Pricing Table  --------*/
.pricing_table {
	width: 90%;
	margin: 0 auto;
}
.pricing_table ul {
	list-style: none;
	float: left;
	margin: 0;
	border: 1px solid #e1e1e1;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 5px solid #e1e1e1;
	padding: 0px;
	text-align: center;
	border-radius: 1px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background: #f5f5f5;
}
.pricing_table ul:hover {
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	cursor: pointer;
	z-index: 9999;
	position: relative;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
	background: #ffffff;
}
.pricing_table ul.price-col-1:hover h2, .pricing_table ul.price-col-1:hover span {
	color: #d581b5
}
.pricing_table ul.price-col-2:hover h2, .pricing_table ul.price-col-2:hover span {
	color: #39b54a
}
.pricing_table ul.price-col-3:hover h2, .pricing_table ul.price-col-3:hover span {
	color: #b76c8c
}
.pricing_table ul.price-col-4:hover h2, .pricing_table ul.price-col-4:hover span {
	color: #edb230
}
.pricing_table ul.price-col-1:hover button {
	background: #d581b5;
	border: #d581b5;
	color: #FFF
}
.pricing_table ul.price-col-2:hover button {
	background: #39b54a;
	border: #d581b5;
	color: #FFF
}
.pricing_table ul.price-col-3:hover button {
	background: #b76c8c;
	border: #d581b5;
	color: #FFF
}
.pricing_table ul.price-col-4:hover button {
	background: #edb230;
	border: #d581b5;
	color: #FFF
}
.pricing_table ul:hover li:first-child {
}
.pricing_table ul.price-col-1:hover {
	border-bottom: #d581b5 solid 5px;
}
.pricing_table ul.price-col-2:hover {
	border-bottom: #39b54a solid 5px;
}
.pricing_table ul.price-col-3:hover {
	border-bottom: #b76c8c solid 5px;
}
.pricing_table ul.price-col-4:hover {
	border-bottom: #edb230 solid 5px;
}
.pricing_table ul li {
	border-bottom: 0px solid #cfd2d2;
	padding: 10px 0;
}
.pricing_table h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 300;
	color: #666666;
}
.pricing_table span {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #999999;
	text-transform: uppercase;
}
.pricing_table ul.price-col-1 li:first-child, .pricing_table ul.price-col-2 li:first-child, .pricing_table ul.price-col-3 li:first-child, .pricing_table ul.price-col-4 li:first-child {
	font-size: 14px;
	background: url(../images/price-bg1.png) #FFF;
	color: #FFF;
 font-family:font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.pricing_table ul.price-col-2 li:first-child {
	background: url(../images/price-bg2.png) #FFF;
}
.pricing_table ul.price-col-3 li:first-child {
	background: url(../images/price-bg3.png) #FFF;
}
.pricing_table ul.price-col-4 li:first-child {
	background: url(../images/price-bg4.png) #FFF;
}
.pricing_table ul li:nth-child(2) {
	background: #fff;
	border-top: #cccccc solid 1px;
	border-bottom: #cccccc solid 1px;
	padding: 20px 0;
}
.pricing_table ul li:nth-child(n+3) {
	font-size: 14px;
	color: #999999;
	background: url(../images/line.png) bottom center no-repeat;
	line-height: 30px;
}
.pricing_table ul:nth-last-child(1) {
	border-right: #e1e1e1 solid 1px;
}
.pricing_table button {
	padding: 9px 35px;
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 15px;
}
/*-------- Quotes  --------*/
.quote-bg {
	background-image: url(../images/quote-bg.jpg);
	background-size: cover;
	height: 350px;
	padding: 50px 0;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	margin-top: 60px;
	margin-bottom: 5px;
}
.quote-bg i {
	font-size: 40px;
	margin-bottom: 17px;
}
.quote-bg p {
	line-height: 24px;
	margin-bottom:20px;
}
.quote-bg img {
	border-radius: 75px;
	border: 2px solid #fff;
	margin-top: 13px;
	height: 72px;
	width: 72px;
	text-align: center;
	margin: 0 auto;
}
.quote-bg .bx-wrapper .bx-controls-direction {
	display: none
}
/*-------- Products  --------*/

.pro-box img {
	max-width: 100%;
	text-align: center;
	border-radius: 5px 5px 0 0 !important;
}
ul.pro-box {
	border-radius: 5px;
	border: #d9d9d9 solid 1px;
	text-align: center;
	box-shadow: 0 5px 2px rgba(0,0,0,.15);
	padding: 0px 0px 18px 0px;
}
.pro-box h4 {
	color: #666666;
	margin-top: 17px;
}
.pro-box .price {
	background: #ed94a3;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: 25px;
	padding: 1px 10px;
	margin-right: 10px;
}
.pro-box .rating {
	color: #e96f91;
	font-size: 14px;
}
.pro-box .rating a:hover {
	color: #F90
}
.pro-box .pro-footer {
	margin-top: 12px;
}
/*======================================= Home Page End  ====================================*/


/*--------------   breadcrumb Start  ----------------*/

/*--------------   breadcrumb Start  ----------------*/

ul.bcrumb {
	color: #333
}
ul.bcrumb li {
	display: inline-block;
	color: #333;
	line-height: 35px;
	text-transform: uppercase;
}

ul.bcrumb li:after {content:""; font-family:FontAwesome; padding-left:10px; padding-right:10px;}
ul.bcrumb li:nth-last-child(1):after {content:""}
ul.bcrumb li a {
	color: #333
}
/*--------------   breadcrumb End  ----------------*/







/*======================================= Footer Start  ====================================*/

#footer {
	position: relative
}
#footer h3 {
	color: #FFF;
	border-bottom: #ed94a3 solid 1px;
	margin-bottom: 28px;
	padding-bottom: 14px;
}
.ftop {
width:c0617d%;
	background: #c0617d;
	border-top: solid 3px #e96f91;
	padding: 33px 0 10px 0;
	color: #FFF;
	position: relative;
}
.footer-mid {
	background: url(../images/footer-curve.png) top center repeat-x;
	position: relative;
	top: -7px;
}
.footer-midbg {
	width: 100%;
	background: #e96f91;
	position: relative;
	top: 7px;
	padding: 50px 0;
}
.footer-copy {
	background: #c0617d;
	text-align: center;
	color: #eea8bc;
	line-height: 72px;
}
.footer-copy a {
	color: #eea8bc
}
ul.recent-posts li {
	font-size: 14px;
	color: #FFF;
	border-bottom: #ed94a3 solid 1px;
	line-height: 35px;
}
ul.recent-posts li a, .tweets h4 a, .getintouch a, .tweets .url a {
	color: #FFF
}

.tweets p {margin-bottom:8px;}

ul.recent-posts li a:hover, .tweets h4 a:hover, .getintouch a:hover, .tweets .url a:hover {
	text-decoration: underline
}
.recent-posts > li:after {
	content: "";
	font-family: FontAwesome;
	font-size: 14px;
	margin-left: 10px;
}
ul.recent-posts > li:nth-last-child(1) {
	border: 0px;
}
.getintouch {
	color: #FFF;
	font-size: 14px;
	line-height: 24px;
}
.getintouch p {
	margin-bottom: 33px;
}
.getintouch .social {
	margin-top: 0px
}
.getintouch .social a {
	font-size: 26px;
	color: #eea8bc;
}
.getintouch .social a:hover {
	color: #FFF
}
.getintouch .social [title]:after {
	top: 25px;
}
ul.tweets {
	clear: both
}
ul.tweets li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	text-wrap: suppress;
}
ul.tweets li.twuser {
	width: 25%;
	float: right;
}
ul.tweets li.twpost {
	width: 70%;
	float: left
}
.tweets img {
	border-radius: 68px;
	border: #FFF solid 1px;
}
.tweets {
	color: #FFF
}
.tweets .url {
	font-style: italic
}
.tweets h4 {
	font-weight: 700 !important;
	margin: 0 0 10px 0
}
ul.reservation li {
	display: inline-block;
	width: auto;
	margin-right: 25px;
	position: relative;
}
.reservation input, .reservation select {
	background: #FFF;
	border: 0px;
	border-radius: 5px;
	padding: 11px 8px;
	color: #999;
	position: relative;
	font-size: 14px;
	text-align:left;
}

.reservation select { text-align:left !important}

.selectpicker {
	background: #FFF;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 13px 20px;
	color: #999;
	position: relative;
	width: 100% !important;
}
.bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus, .bootstrap-select .btn-default:active, .bootstrap-select .btn-default.active, .bootstrap-select .open .dropdown-toggle.btn-default {
	background: none;
	box-shadow: none
}
.bootstrap-select .btn:hover, .bootstrap-select .btn:hover {
	padding: 13px 20px;
	background: none;
}
.reservation label {
	margin-left: 10px;
	font-weight: 400;
	font-size: 14px;
}
.reservation select {
	-moz-appearance: none;
	-webkit-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	position: relative;
	background: url(../images/arrow.jpg) no-repeat right #FFF;
	background-position: right 10px;
	padding: 10px 15px !important;
	width: 63px;
}
.reservation span {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 14px;
	color: #999999;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {font-size:0px;}

.reservation h3 {
	border: 0px !important;
}
.reservation button {
	background: #e96f91;
	color: #FFF;
	border: #FFF solid 1px;
	padding-left: 41px;
	padding-right: 41px;
	text-transform: uppercase;
	line-height: 23px;
}
/*======================================= Footer End  ====================================*/

/*======================================= 404 Start  ====================================*/

.p404 {
	text-align: center;
}
.p404 h1 {
	font-size: 200px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #c0617d;
	margin: 15px 0 0 0;
}
.p404 h2 {
	font-size: 36px;
	font-family: 'Yekan','Roboto', sans-serif;
	font-weight: 300;
	color: #e96f91;
	margin-bottom: 40px;
	text-transform: none;
}
.p404 .buttons {
	background: #c0617d;
	color: #FFF;
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	border: #c0617d solid 1px;
	padding: 16px 45px;
	border-radius: 5px;
}
.p404 .buttons a {
	color: #FFF
}
/*======================================= 404 End  ====================================*/



/*======================================= Branches Start  ====================================*/
/* Flexible iFrame */

.branches strong {
	color: #666666;
	font-size: 20px;
	font-weight: 400;
	display: block;
	font-family: 'Roboto', sans-serif;
}
.branches p {
	color: #666666;
	font-size: 14px;
	font-weight: 400;
}
.Flexible-container {
	padding-top: 10px;
	overflow: hidden;
}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {
	width: 100%;
	height: 100%;
	overflow: auto !important;
	position: fixed !important;
}
#map-canvas {
	height: 350px !important;
	border-top: #cccccc solid 1px;
	border-bottom: #cccccc solid 1px;
}
.map-size {
	height: 350px;
}
/*======================================= Branches End  ====================================*/




/*======================================= Cart Start  ====================================*/
.cart-page {
}
.cart_table_holder table {
	border: 1px solid #cccccc;
	border-radius: 0;
	color: #fff;
	width: 100%;
	background: #ffffff;
}
.cart-top-bg {
	background: #e1e1e1;
}
.cart_table_holder table .product-name {
	border-left: 1px solid #cccccc;
}
.cart_table_holder th:first-child {
}
.cart_table_holder th {
	border: 1px solid #cccccc;
	padding: 14px 5px;
	font-weight: 400;
	font-size: 14px;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
}
.cart_table_holder tbody td.img {
	border-right: none;
}
.cart_table_holder table .img {
	text-align: left;
	width: 20%;
}
.cart_table_holder tbody td, .cart_table_holder tfoot td {
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.cart_table_holder td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
.product-name > a {
	color: #979695;
	text-decoration: none;
}
.product-name > a:hover {
	color: #979695;
	text-decoration: none;
}
.cart_table_holder td span.amount {
	color: #979695;
}
.product-remove a {
	font-size: 24px;
	color: #999999;
	text-decoration: none;
}
.product-remove a:hover {
	text-decoration: none;
	color: #999999;
}
.shipping-calculator-button {
	color: #A80000;
	text-decoration: none;
}
.shipping-calculator-button:hover {
	text-decoration: none;
}
.actions .coupon {
	text-align: left;
	color: #404241;
}
.actions {
	background: url(../images/cart-heading-bg.html);
}
#coupon_code {
	background: rgba(0,0,0,0.2);
	border: 1px solid #2f2f2e;
	border-radius: 2px;
	height: 33px;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.cbtn {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 7px 10px;
	color: #fff;
	background: #aa0055;
}
.total_price {
	text-align: right;
	color: #05242B;
}
table.total_cart {
	border: 0px;
	width: auto;
	float: right;
}
table.total_cart strong {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: #666666;
	text-align: right;
	padding-right: 20px;
	text-transform: uppercase;
}
table.total_cart span.cart-tatal-box {
	border: #CCC solid 1px;
	display: block;
	text-align: center !important;
	width: 170px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 14px;
	color: #999999;
	text-transform: uppercase;
}
.total_cart h2 {
	font-weight: 500;
	font-size: 22px;
	color: #979695;
}
.total_cart td {
	padding: 5px 0;
	text-align: right;
}
.cart_table_holder h2 {
	text-align: left;
	margin: 0;
}
.cart-page form {
	margin: 0 0 20px 0;
}
.total_cart tbody td, .total_cart tfoot td {
	border-bottom: 0;
	border-right: 0;
	color: #4d4d4d;
}
.checkout_btn {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 7px 10px;
	color: #fff;
	font-weight: 600;
	background: #aa0055;
}
.cart_btn_wrapper {
	margin: 20px 0;
}
.cart_btn_wrapper button {
	background: #e96f91;
	display: block;
	color: #FFF;
	border: #e96f91 solid 1px;
	margin-bottom: 11px;
	width: 160px;
	font-size: 14px;
	border-radius: 5px;
}
.minus {
	background: #e1e1e1;
	border: 1px solid #e5e5e5;
	padding: 8px 14px;
	float: left;
}
.plus {
	background: #e1e1e1;
	border: 1px solid #e5e5e5;
	padding: 8px 14px;
	float: left;
}
.input-text.qty {
	float: left;
	text-align: center;
	width: 20%;
	font-size: 12px;
	color: #000;
	padding: 8px 0;
	border-radius: 0px;
	border: #e1e1e1 solid 1px;
}
/*======================================= Cart End  ====================================*/





/*======================================= Checkout Start  ====================================*/
.col-1 h3 {
	font-weight: 500;
	color: #7d7d7d;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.col-2 h3 {
	font-weight: 500;
	color: #7d7d7d;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
form.checkout h3 {
	font-weight: 400;
	color: #7d7d7d;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
	margin-top: 35px;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
	display: block;
	color: #666666;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
}
.woocommerce form .form-row .required, .woocommerce-page form .form-row .required {
	border: 0;
	color: #b20101;
	font-weight: bold;
}
form.checkout select {
	background: rgba(255,255,255,0.02);
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 0;
	clear: both;
	color: #404241;
	margin-bottom: 20px;
}
form.checkout input[type="text"], form.checkout input[type="password"] {
	border: 1px solid #ccc;
	clear: both;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	color: #404241;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.woocommerce form .form-row input.input-text, .woocommerce-page form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
	outline: none;
	margin: 0;
	color: #404241;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-radius: 5px;
	padding: 10px 20px;
	width: 100%;
	text-align:right;
}
.woocommerce form .form-row-first, .woocommerce-page form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
	float: left;
	overflow: visible;
	width: 50%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.woocommerce form .form-row .input-checkbox, .woocommerce-page form .form-row .input-checkbox {
	display: inline;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
	clear: both;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
	margin: 0 0 10px;
	padding: 3px;
}
.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
	display: inline;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: right;
	width: 48%;
}
.woocommerce form .form-row select, .woocommerce-page form .form-row select, .register select {
	cursor: pointer;
	margin: 0;
	width: 100%;
	border-radius: 5px;
	border: #CCC solid 1px;
	padding: 13px 20px;
}
.woocommerce .checkout #shiptobilling, .woocommerce-page .checkout #shiptobilling {
	float: right;
	line-height: 1.62em;
	padding: 0;
	margin: 0;
}
.woocommerce .checkout #shiptobilling label, .woocommerce-page .checkout #shiptobilling label {
	font-size: 0.6875em;
}
.woocommerce .checkout .col-2 .notes, .woocommerce-page .checkout .col-2 .notes {
	clear: left;
}
.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
	text-shadow: none;
	display: block;
	height: 3.5em;
	line-height: 1.5em;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	background: rgba(255,255,255,0.02);
	border: 1px solid rgba(255,255,255,0.2)
}
form.checkout textarea {
	min-height: 200px;
	border-radius: 0;
	resize: none;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 5px;
	text-align: left;
	margin: 0 -1px 24px 0;
}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
	padding: 9px 12px;
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	border-right: solid 1px #CCCCCC;
}
.product-name {
	border-right: solid 1px #CCCCCC;
}
.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
	border-top: 1px solid #ccc;
	padding: 6px 12px;
	vertical-align: middle;
	color: #999999;
}
.woocommerce table.shop_table, .woocommerce-page table.shop_table {
	border-collapse: separate;
	text-align: left;
}
.cart-subtotal th {
	background: none;
}
.woocommerce .col2-set, .woocommerce-page .col2-set {
	width: 100%;
	clear: both;
	overflow: hidden;
}
.trl {
	text-align: right !important
}
table th, table td {
/*	text-align: center; */
}
.woocommerce table.shop_table tfoot td, .woocommerce-page table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th {
	border-top: 1px solid #ccc;
	font-weight: normal;
}
.woocommerce #payment, .woocommerce-page #payment {
	border-radius: 5px;
	border: #ccc solid 1px;
	height: 38px;
}
.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row {
	padding: 5px;
}
.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background: #e96f91;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 10px 30px;
}
.woocommerce #payment .terms, .woocommerce-page #payment .terms {
	text-align: right;
	padding: 0 1em;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: right;
	margin: 0;
}
.form-row.place-order {
	overflow: hidden;
}
ul.check-login li {
	line-height: 35px;
}
ul.check-login li a {
	color: #e96f91;
}
ul.check-login li:after {
	content: "";
	color: #e96f91;
	font-family: FontAwesome;
	font-size: 16px;
	margin-left: 20px;
}
/*======================================= Checkout End  ====================================*/


/*======================================= Login  ====================================*/

.register h2 {
	font-size: 26px !important;
	color: #e96f91 !important;
	font-weight: 400 !important;
	text-transform: uppercase !important;
}
.signup h2 {
	font-size: 20px;
	font-weight: 500;
	color: #666666;
	margin-bottom: 25px;
	text-transform: none;
}
.signup label {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	display: block;
	margin-top: 25px;
}
.contact .first {
	margin-top: 8px;
}
.signup input[type='text'], .signup textarea {
	border: #ccc solid 1px;
	border-radius: 5px;
	padding: 13px 20px;
	width: 100%;
	resize: none;
	text-align:right;
}
.signup input[type='submit'] {
	background: #e96f91;
	color: #FFF;
	float: right;
	border: #e96f91 solid 1px;
	margin-top: 20px;
}
.signup input[type='submit']:hover {
	background: #fff;
	color: #666;
	border: #999 solid 1px;
}
.signup .map-size {
	border-radius: 5px;
	border: #CCC solid 1px;
	height: 220px;
	margin-bottom: 20px;
}
.login h4 {
	color: #666666;
	font-size: 20px;
	margin-bottom: 17px;
	text-transform: none;
}


::-webkit-input-placeholder {
 font-style:normal;
 color:#999999;
}

:-moz-placeholder { /* Firefox 18- */
 font-style:normal;
 color:#999999;
}

::-moz-placeholder {  /* Firefox 19+ */
 font-style:normal;
 color:#999999;
}

:-ms-input-placeholder {
 font-style:normal;
 color:#999999;
}
/*======================================= Login End  ====================================*/



/*======================================= Contact Start  ====================================*/
.contact-details p {
	line-height: 20px;
}
.contact-details hr {
	margin-bottom: 20px;
	border-color: #CCC;
}
#form_contact .error {
	color: red;
}
label.error {
	margin-top: 5px !important;
	color: red
}
address li {
	margin-bottom: 20px;
}
address li strong.title, address li strong.title a {
	font-size: 12px;
	font-weight: normal;
	color: #999999;
}
address li strong.title .fa-home, address li strong.title .fa-phone, address li strong.title .fa-mobile, address li strong.title .fa-envelope {
	font-size: 14px;
	color: #999999;
	width: 32px;
	text-align: left;
}
.contact-details .social a {
	color: #cccccc;
	font-size: 18px;
}
.contact h2 {
	margin-bottom: 15px;
}
.contact-sub {
	font-size: 14px;
	color: #666;
}
.contact-details .title {
	line-height: normal
}
.contact-details .social [title]:after {
	content: attr(title);
	left: -13px;
	position: absolute;
	top: 20px;
	color: #333;
}
.contact-details .social a:hover .fa-facebook-square {
	color: #3c599b
}
.contact-details .social a:hover .fa-linkedin-square {
	color: #007bb6
}
.contact-details .social a:hover .fa-google-plus-square {
	color: #f73e29
}
.contact-details .social a:hover .fa-twitter-square {
	color: #00abf0
}
.contact-details .social a:hover .fa-pinterest-square {
	color: #cb2028
}
.contact-details .social a:hover .fa-instagram {
	color: #a47259
}
.contact-details .social a:hover .fa-flickr {
	color: #ff0080
}
h4.panel-title a {
	display: block;
	line-height: 40px;
	text-decoration: none;
}
h4.panel-title a.collapsed:before {
	content: "";
	float: left;
	background: #cccccc;
	font-size: 14px;
	color: #FFF;
	font-family: FontAwesome;
	padding: 0 15px;
	position: relative;
	z-index: 111
}
h4.panel-title a:before {
	content: "";
	float: left;
	background: #cccccc;
	font-size: 14px;
	color: #FFF;
	font-family: FontAwesome;
	padding: 0 15px;
	position: relative;
	z-index: 111
}
.signup .panel-heading {
	padding: 0px;
}
.signup .panel-default > .panel-heading {
	background: #e1e1e1;
	text-align: center;
}
.panel-title > a {
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
/*======================================= Contact End  ====================================*/

/*======================================= Image Gallery  Start  ====================================*/

.home-products.gallery img {
	border: 0px;
	border-radius: 0px;
}
.image-gallery img {
	border: #d9d9d9 solid 1px !important;
}
.gallery img {
	border-radius: 5px;
	border: solid 0px #d9d9d9;
	max-width: 100%;
	overflow: hidden;
}
.paging {
	text-align: center
}
.pagination > li > a, .pagination > li > span {
	border-radius: 5px;
	margin-right: 5px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(240,240,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-9 */
	border: #cfcfcf 1px solid;
	font-size: 14px;
	color: #999999;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background: #e96f91;
	color: #FFF;
	border-color: #e96f91;
}
.img-thumbnail {
	padding: 10px;
}
.gallery-box {
	margin: 15px 0 15px 0;
}
/*======================================= Image Gallery  End  ====================================*/

/*======================================= Reservation  ====================================*/

ul.office-time {
	border: #e1e1e1 solid 1px;
}
ul.office-time li {
	border-bottom: #e1e1e1 solid 1px;
	line-height: 37px;
	padding: 0 20px;
}
ul.office-time span {
	float: right
}
ul.office-time li:nth-last-child(1) {
	border: 0px
}
/*======================================= Reservation End  ====================================*/



/*======================================= Serviecs  ====================================*/

.service-grid ul {
	text-align: center
}
.service-grid span {
	border: solid 2px #e96f91;
	font-size: 60px;
	color: #e96f91;
	width: 170px;
	height: 170px;
	text-align: center;
	line-height: 170px;
	display: block;
	margin: 0 auto;
	border-radius: 90px;
	background: #FFF;
}
.service-grid span:hover {
	border: solid 2px #e96f91;
	color: #fff;
	background: #e96f91;
}
.service-grid h3 {
	text-wrap: normal;
	text-transform: none;
	margin: 26px 0 12px;
}
.services .flist {
	margin-top: 25px !important;
}
.services .panel-body {
	padding: 30px;
}
.service-grid p {
	margin-bottom: 15px;
}
.prices {
	margin-top: 6px;
	margin-bottom: 4px;
}
.services .panel-heading {
	padding: 0px;
}
.services .panel-default > .panel-heading {
	background: #ff96b3
}
.services .panel-default {
	border-color: #ff96b3
}
.services h4.panel-title a {
	display: block;
	line-height: 40px;
	color: #FFF;
	text-decoration: none;
}
.services h4.panel-title a.collapsed:before {
	content: "";
	float: right;
	background: #e96f91;
	font-size: 14px;
	color: #FFF;
	font-family: FontAwesome;
	padding: 0 15px;
	position: relative;
	z-index: 111;
	margin-left: 20px;
}
.services h4.panel-title a:before {
	content: "";
	float: right;
	background: #e96f91;
	font-size: 14px;
	color: #FFF;
	font-family: FontAwesome;
	padding: 0 15px;
	position: relative;
	z-index: 111;
	margin-left: 20px;
}
.services strong, .title, .title1 {
	font-size: 20px;
	color: #666666;
	font-family: 'Yekan','Roboto', sans-serif;
	font-weight: 400;
	line-height: 45px;
}
ul.flist li {
	line-height: 22px;
}
ul.flist li:after {
	content: "";
	font-family: FontAwesome;
	color: #999999;
	margin-left: 10px;
}
.services-details img {
	max-width: 100%;
	border-radius: 5px;
}
.orig-price {
	font-size: 24px;
	margin-right: 25px;
	text-decoration: line-through;
}
.disc-price {
	font-size: 24px;
	color: #bd5975
}
.services-details li {
	line-height: 24px;
}
.services-details ul {
	margin-bottom: 10px;
}
.services-details .title, .services-details .title1 {
	line-height: normal;
	display: block;
	margin-bottom: 9px;
}
.services-details .title1 {
	margin-bottom: 15px !important;
}
.services-list ul.slist {
	display: block;
	border-bottom: #e1e1e1 dotted 2px;
	margin-top: 10px;
}
.services-list .simg img, .auther-img img {
	border: 5px solid #fff;
	border-radius: 51px !important;
	float: right;
	box-shadow: 0 5px 5px #CCCCCC;
	margin-left: 20px;
	width: 70px;
	height: 70px;
}
.spost strong {
	font-weight: 400;
	color: #666666;
	font-family: 'Roboto', sans-serif;
}
.stitle, .stitle2 {
	font-weight: 400;
	color: #e96f91;
	font-family: 'Yekan','Roboto', sans-serif;
	font-size: 18px;
	border-bottom: #e1e1e1 solid 1px;
	line-height: 40px;
	display: block;
	margin-bottom: 10px;
}
.stitle2 {
	border-bottom: #e1e1e1 solid 0px !important;
}
/*======================================= Serviecs End  ====================================*/


/*======================================= Sidebar Start  ====================================*/
.sidebar .search {
	border-radius: 5px;
	border: #ffc0ca 4px solid;
	padding: 10px;
	margin-bottom: 25px;
	text-align:right;
}
.sidebar .search input[type='text'] {
	border: 0;
	width: 90%;
	text-align:right;
}
.sidebar .search button {
	background: none;
	border: 0px;
	padding: 0px;
	color: #ffc0ca;
	font-size: 16px;
	float:left
}
.ser-cats ul {
	border: #e1e1e1 solid 1px;
}
.ser-cats ul > li {
	line-height: 36px;
	border-bottom: #e1e1e1 solid 1px
}
.ser-cats ul > li:nth-last-child(1) {
	border: 0
}
.ser-cats ul > li a {
	color: #999
}
.ser-cats ul > li a:hover {
	color: #666666
}
.ser-cats ul > li:after {
	content: "";
	font-family: FontAwesome;
	padding: 0 19px;
}
.ser-cats span {
	float: right;
	margin-right: 19px;
	font-style: italic;
}
.ser-cats span i {
	font-style: normal;
	margin-left: 20px;
}
.tags li {
	display: inline-block;
	border: #cfcfcf solid 1px;
	border-radius: 13px;
	line-height: 28px;
	padding: 0 7px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(240,240,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(240,240,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-8 */
	margin-bottom: 5px;
	margin-right: 2px;
}
.tags li a {
	color: #999999
}
.tags li a:hover {
	color: #666
}
.tags li:before {
	content: url(../images/tag-bult.png);
	padding-right: 5px;
}
/*======================================= Sidebar End  ====================================*/


/*======================================= Team Page  ====================================*/

.team-2 {
	text-align: center
}
.team-21 img {
	border-radius: 135px !important;
	width: 85%;
	position: relative;
	top: 12px;
}
.team img {
	border-radius: 5px;
	max-width: 100%;
}
.team.gallery-items li {
	margin: 0px;
	overflow: hidden;
}
.team.gallery-items .ghover .pluss {
	margin-top: 40% !important
}
.team-2.gallery-items .ghover {
	border-radius: 150px;
	left: 18px;
	width: 85% !important;
	top: 12px;
}
.team span {
	font-family: 'Roboto', sans-serif;
	display: block;
	margin-bottom: 10px;
	margin-top: 4px;
}
.team p {
	padding-bottom: 15px;
	margin-bottom: 10px;
	border-bottom: #e1e1e1 solid 1px;
}
.team h3 {
	margin-top: 16px;
	text-transform: none;
}
.team-2 h3 {
	margin-top: 10px !important;
}
.team2 {
	text-align: center
}
.team2 p {
	margin: 10px auto;
	border-bottom: #e1e1e1 solid 1px;
	padding-bottom: 15px;
}
.team2 img {
	border-radius: 160px;
	max-width: 100%;
	margin-bottom: 20px;
	border: #e1e1e1 solid 10px;
}
.tsocial li {
	display: inline-block;
}
.tsocial li i {
	background: #e1e1e1;
	color: #999999;
	font-size: 13px;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.tsocial li i a {
	color: #999999
}
.tsocial li a:hover .fa-facebook {
	background: #3c599b;
	color: #FFF;
}
.tsocial li a:hover .fa-twitter {
	background: #32ccfe;
	color: #FFF;
}
.tsocial li a:hover .fa-linkedin {
	background: #0274b3;
	color: #FFF;
}
.tsocial li a:hover .fa-google-plus {
	background: #f73e29;
	color: #FFF;
}
.tsocial li a:hover .fa-youtube {
	background: #ab2a25;
	color: #FFF;
}
.team-02 .tsocial li i {
	background: #f5f5f5;
	color: #999999;
	font-size: 13px;
	border-radius: 2px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.team-gap {
	margin-top: 100px
}
.team-box {
	position: relative;
	text-align:center;
}

.team-box-02 {text-align:center}

.team-02 ul.box {
	background: #f5f5f5;
	border: #e1e1e1 solid 1px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	padding: 100px 10px 25px;
	width: 100%;
	text-align:center;
}
.team-img {
	position: absolute;
	z-index: 9;
	top: -75px;
	left:0;
	right:0;
	margin:auto;
}
.team-img img {
	width: 50%;
	border-radius: 100px;
	text-align: center;
	border: #FFF solid 2px;
	box-shadow: 0px 0px 7px rgba(0,0,0,.75);
}
.team-box-02 .team-img img {
	width: 50%;
	border-radius: 5px;
	text-align: center;
	border: #FFF solid 2px;
	box-shadow: 0px 0px 7px rgba(0,0,0,.75);
}
/*======================================= Team End  ====================================*/



/*======================================= About Start ====================================*/

.about-main {
	text-align: center;
}
.about-main img {
	border-radius: 5px;
	max-width: 100%;
	margin-bottom: 14px;
}
.about-2 h2 {
	margin-bottom: 11px;
}
.about .bx-wrapper img {
	border-radius: 5px;
}
.about .bx-wrapper {
	margin: 0 auto 20px;
}
.about .bx-controls-direction {
	display: none
}
.about .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 5px;
	z-index: 99
}
.about .bx-wrapper .bx-pager.bx-default-pager a {
	display: block !important
}
.about .bx-wrapper .bx-pager.bx-default-pager a {
	background: #fff;
	box-shadow: 0px 0px 3px rgba(0,0,0,.50);
	border: 3px solid #fff;
}
.about a.active {
	background: #db748c !important
}
.about .full-tabs .nav-tabs {
	margin-left: 127px;
}
.about .full-tabs .nav-tabs > li {
	margin-right: 1px;
}
.about .nav-tabs {
	border-bottom: #f4b7c8 solid 0px;
}
.about .tab-pane {
	border: #f4b7c8 solid 1px;
	padding: 30px;
	border-radius: 0 0 5px 5px;
}
.about .nav-tabs > li {
	margin: 0px;
}
.about .nav-tabs > li > a {
	border: 0px;
}
.full-tabs .nav-tabs > li a {
	width: 220px;
	text-align: center;
	margin-right: 2px;
}
.about .nav-tabs > li a {
	color: #FFF;
	font-size: 14px;
	font-family: 'Yekan','Roboto', sans-serif;
	font-weight: 400;
	background: #e96f91;
	padding: 15px 52px;
	margin-right: 1px;
}
.about .nav-tabs > li:nth-last-child(1) a {
	padding: 15px 53px 15px 53px;
	margin-right: 0px;
}
.about .about-main .nav > li > a:hover, .about-main .nav > li > a:focus {
	background: none;
	border: 0px !important;
	box-shadow: none;
}
.about .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-size: 14px;
	background: #ff96b3;
	border: 0px;
	box-shadow: none;
	color: #fff;
	outline: none;
}
.about .nav > li > a:hover, .about .nav > li > a:focus, .about .nav > li > a:hover:before, .about .nav > li > a:focus:before {
	background: #ff96b3;
	box-shadow: none;
	border: 0;
	color: #FFF;
}
.about2 .team2 img {
	border: 0px;
	width: 85%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.tab-content .flist {
	margin-top: 25px;
}
.about-prograss > div {
	margin-bottom: 11px;
}
.about-prograss h2 {
	margin-bottom: 20px;
}
.about-prograss h3 {
	margin-bottom: 9px;
}
.progress {
	height: 26px;
	background: #ffcfdc;
	border-radius: 5px;
	overflow: visible;
}
.progress > span {
	position: relative;
	float: right;
	margin: 0 -1px;
	min-width: 30px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	background: #cccccc;
	border-radius: 5px;
	background: #c0617d;
}
.progress > span:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	right: 0;
	z-index: 1;
	height: 26px;
	border-radius: 10px;
}
.percentage {
	background: #FF96B3;
	border-radius: 100px;
	color: #FFFFFF;
	display: block;
	float: right;
	font-size: 14px;
	height: 50px;
	position: absolute;
	left: -5px;
	top: -14px;
	width: 50px;
	color: #FFF;
	text-shadow: none;
	text-align: center;
	line-height: 47px;
	-moz-box-shadow: inset -2px 1px 2px #ff7e9f;
	-webkit-box-shadow: inset -2px 1px 2px #ff7e9f;
	box-shadow: inset -2px 1px 2px #ff7e9f;
}
strong.percentage {
	font-weight: normal !important
}
.partner-logos .bx-wrapper .bx-controls-direction a {
	text-indent: 0px;
	font-size: 0px;
}
.partner-logos .bx-controls-direction {
	display: block
}
.partner-logos .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	display: none
}
.partner-logos .bx-wrapper .bx-prev, .partner-logos .bx-wrapper .bx-next {
	border: 1px solid #cccccc;
	border-radius: 36px;
	background: none;
	height: 36px;
	width: 36px;
	text-align: center;
}
.partner-logos .bx-wrapper a.bx-prev:after, .partner-logos .bx-wrapper a.bx-next:after {
	content: "";
	color: #cccccc;
	font-size: 12px;
	font-family: FontAwesome;
	line-height: 36px;
	text-decoration: none;
}
.partner-logos .bx-wrapper a.bx-next:after {
	content: "";
}
.partner-logos .bx-wrapper a:hover.bx-prev:after, .partner-logos .bx-wrapper a:hover.bx-next:after {
	text-decoration: none;
	color: #e96f91;
}
.partner-logos h3 {
	font-size: 20px;
	text-transform: none;
	margin-bottom: 18px;
}
.partner-logos img {
	background: #f7f7f7;
	border: #cccccc solid 1px;
	border-radius: 5px;
	opacity: .7;
}
.partner-logos img:hover {
	opacity: 1;
}
.partner-logos .bx-wrapper .bx-prev {
	left: -60px;
}
.partner-logos .bx-wrapper .bx-next {
	right: -60px;
}
.circliful {
	position: relative;
	color: #e96f91;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.circle-text {
	font-size: 70px !important;
	line-height: 250px !important;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
	width: 100%;
	position: absolute;
	text-align: center;
	display: inline-block;
}
.circle-info, .circle-info-half {
	color: #666666;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
/*======================================= About end ====================================*/







/*======================================= Blog Start ====================================*/

.blog-masanary section {
	padding-bottom: 0px !important;
	margin-bottom: 30px !important;
	border: 0px !important;
}
.blog-full .jp-time-holder, .two-col .jp-time-holder {
	margin-right: 28px;
}
.blog-full div.jp-audio div.jp-type-single div.jp-progress {
	width: 70%
}
.two-col div.jp-audio div.jp-type-single div.jp-progress {
	width: 35%
}
.blog section {
	border-bottom: #e1e1e1 dotted 1px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.blog img {
	max-width: 100%;
	border-radius: 5px;
}
.blog .post-title-tags p {
	margin-top: 20px;
	margin-bottom: 15px;
}
.blog .audio p {
	margin-top: 0px;
}
.blog h2, .blog h2 a {
	font-size: 20px;
	font-family: 'Yekan','Roboto', sans-serif;
	color: #666666;
	font-weight: 400;
}
.blog h2 a:hover {
	text-decoration: underline
}
.post-tags {
	margin-top: 15px;
	margin-bottom: 15px;
}
.post-tags a {
	color: #999999
}
.post-tags a:hover {
	text-decoration: underline
}
.post-tags ul > li {
	display: inline-block
}
.post-tags ul > li:after {
	content: "//";
	margin-left: 30px;
	margin-right: 30px;
}
.post-tags ul > li:nth-last-child(1):after {
	content: "";
	margin-left: 30px;
	margin-right: 30px;
}
.blog .date {
	background: #e96f91;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	font-weight: 300;
	font-size: 16px;
	width: 60px;
	height: 60px;
	line-height: 25px;
	padding-top: 6px;
	margin-bottom: 5px;
}
.blog .date strong {
	display: block;
	font-size: 28px;
	font-weight: 400;
}
.blog .like {
	border-radius: 5px;
	border: #cccccc solid 1px;
	text-align: center;
	width: 60px;
	height: 60px;
	line-height: 30px;
	padding-top: 10px;
}
.blog .like i {
	display: block;
	color: #e96f91;
	font-size: 16px;
}
.puser:before {
	content: "\f007";
	font-family: FontAwesome;
	padding-right: 6px;
}
.pcomment:before {
	content: "\f086";
	font-family: FontAwesome;
	padding-right: 6px;
}
.ptags:before {
	content: "\f02c";
	font-family: FontAwesome;
	padding-right: 6px;
}
.b-slider {
	max-height: 338px;
}
.b-slider .bx-wrapper .bx-controls-direction a {
	text-indent: 0px;
	font-size: 0px;
	text-decoration: none;
}
.b-slider .bx-wrapper .bx-prev, .b-slider .bx-wrapper .bx-next {
	border-radius: 0 5px 5px 0;
	background: rgba(255,255,255,.5);
	height: 36px;
	width: 36px;
	text-align: center;
	box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.3)
}
.b-slider .bx-wrapper .bx-next {
	border-radius: 5px 0px 0px 5px;
	box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3)
}
.b-slider .bx-wrapper a.bx-prev:after, .b-slider .bx-wrapper a.bx-next:after {
	content: "\f104";
	color: #fff;
	font-size: 25px;
	font-family: FontAwesome;
	line-height: 36px;
	text-decoration: none;
}
.b-slider .bx-wrapper a.bx-next:after {
	content: "\f105";
}
.b-slider .bx-wrapper a:hover.bx-prev:after, .b-slider .bx-wrapper a:hover.bx-next:after {
	text-decoration: none;
	color: #e96f91;
}
.b-slider .bx-wrapper .bx-prev {
	left: 0px;
}
.b-slider .bx-wrapper .bx-next {
	right: 0px;
}
.bpost-left {
	float: right;
	width: 11%;
}
.bpost-right {
	float: left;
	width: 87.5%;
}
.audio .audio-bg {
	background: url(../images/audio-bg.jpg);
	background-repeat: repeat-x;
	border-radius: 3px;
	border: #cfcfcf solid 1px;
	margin-bottom: 20px;
	padding: 9px;
	height: 100px;
}
.audio div.jp-audio, .audio div.jp-audio ul.jp-controls {
	width: auto
}
.audio div.jp-audio, .audio div.jp-audio-stream, .audio div.jp-video, .audio div.jp-interface, .audio div.jp-title, .audio div.jp-playlist {
	background: none;
	border: 0px;
}
.song-cover {
	width: 12%;
	float: left;
}
.song-cover img {
	border-radius: 0px;
	border: #999999 solid 1px;
}
.mplayer {
	position: relative;
	width: 80%;
	float: left;
}
/*  2 Column */

.date-col {
	width: 12%;
	display: inline-block;
	vertical-align: top;
	float:right;
}
.info-col {
	width: 87%;
	display: inline-block;
	float:left;
}
.two-column .post-tags ul > li:after, .two-column .post-tags ul > li:nth-last-child(1):after {
	margin-left: 10px;
	margin-right: 10px;
}
.three-column .date, .three-column .like {
	width: 40px;
	height: 40px;
	font-size: 13px;
	line-height: 16px;
}
.three-column .date strong {
	font-size: 18px;
}
.three-column .like i {
	font-size: 15px;
}
.three-column .like {
	padding-top: 5px;
}
.three-column .post-tags ul > li {
	font-size: 11px;
}
.three-column .post-tags ul > li:after, .three-column .post-tags ul > li:nth-last-child(1):after {
	margin-left: 5px;
	margin-right: 5px;
}
/*======================================= Blog End ====================================*/



/*======================================= Blog Details ====================================*/

.bdetails section {
	border: 0;
	position: relative;
	margin: 0px;
	padding: 0px;
}
.blog-quote {
	padding: 25px 0 !important;
}
.blog-quote:after {
	content: "";
	background: url(../images/dubble-border.jpg) repeat-x;
	position: absolute;
	top: 0;
	width: 100%;
	height: 6px;
	left:0px
}
.blog-quote:before {
	content: "";
	background: url(../images/dubble-border.jpg) repeat-x;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6px;
	left:0px;
}
.quote {
	position: relative
}
.quote p {
	margin: 0px auto;
	line-height: 28px;
	font-size: 18px;
	width: 85%;
}
.quote:before {
	content: "";
	font-family: FontAwesome;
	color: #cccccc;
	font-size: 36px;
	position: absolute;
	left: 0px;
}
.quote:after {
	content: "";
	font-family: FontAwesome;
	color: #cccccc;
	font-size: 36px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.blog-share {
	text-align: center;
	display: block;
	border-bottom: #e1e1e1 dotted 2px;
	height: 100px;
}
.blog-share .title {
	text-align: center;
	background: url(../images/title-dots.png) repeat-x center 25px;
}
.blog-share .title strong {
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	border: #CCC solid 1px;
	background: #FFF;
	border-radius: 5px;
	padding: 10px 20px;
}
.blog-share .social {
	text-align: center;
	margin: 5px auto;
	width: 97%;
}
.blog-share .social a {
	color: #cccccc;
	font-size: 24px;
}
.blog-share .social a:hover {
	color: #e96f91
}
.blog-share .social [title]:after {
	content: ""
}
.about-auther strong, .blog-comments strong {
	color: #666666;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.blog-comments {
	width: 100%
}
.blog-comments h2, .comment-form h2 {
	font-weight: 400;
	font-size: 20px;
	color: #666666;
}
.bdetails .blog-comments img {
	border: 5px solid #fff;
	border-radius: 51px !important;
	box-shadow: 0 5px 5px #CCCCCC;
}
.comments-list {
	margin: 0;
	list-style: none;
}
.comments-list p {
	font-size: 12px;
	color: #777;
	margin: 0;
}
.comments-list li {
	overflow: hidden;
	margin: 0 0 40px 0;
	position: relative;
}
.comments-list li .comm-title {
	display: block;
	margin: 10px 0 10px 0;
	color: #999999;
	font-size: 12px;
}
.comments-list li .comm-title a {
	color: #999999
}
.comments-list .sp {
	border-bottom: #333333 solid 1px;
	margin: 0px;
}
.comments-list li ul {
	margin: 35px 0 0 80px;
	float: left;
}
.comments-list li li li, .comments-list li li {
	margin-bottom: 0;
}
.comm-rep {
	position: absolute;
	right: 0;
	top: 0;
	color: #ffc000;
}
.comment-form .form-list {
	display: block;
	width: 94%;
}
.hr1 {
	border-bottom: #e1e1e1 dotted 2px;
	clear: both;
	padding-top: 10px;
	margin-bottom: 10px;
}
.about-auther {
	clear: both;
	display: block;
}
.about-auther ul {
	display: block
}
.about-auther h2, .blog-comments h2, .comment-form h2 {
	line-height: 60px;
}
.auther-img {
	float: left;
	margin-right: 28px;
	width: 70px;
}
.auther-details {
	float: left;
	width: 86%;
}
.follow a {
	font-size: 12px;
	color: #999999
}
.follow:before {
	content: "";
	font-family: FontAwesome;
	color: #00abf0;
	font-size: 16px;
	padding-right: 10px;
}
.comm-sp {
	margin-left: 20px;
	margin-right: 20px;
}
.cdate:before, .replay:before {
	content: "";
	font-family: FontAwesome;
	font-size: 11px;
	color: #999999;
	margin-right: 5px;
}
.replay:before {
	content: "";
}
.comment-form li {
	margin-bottom: 26px;
}
.comment-form input[type="text"], .comment-form textarea {
	width: 100%;
	border: #cccccc solid 1px;
	border-radius: 5px;
	padding: 12px 19px;
	resize: none;
}
.comment-form input[type=text]:focus, .comment-form textarea:focus {
	border: 0px;
	border-bottom: #cccccc solid 1px;
	transition: all 0.5s ease;
	border-radius: 0px;
}
/*======================================= Blog Details End ====================================*/



/*======================================= Product Start ====================================*/

.pro {
	position: relative;
}
.pro-box h4 a, .team h3 a, .team-2 h3 a, .team-box h3 a, .team-box-02 h3 a {
	color: #666
}
.pro-box h4 a:hover, .team h3 a:hover, .team-2 h3 a:hover, .team-box h3 a:hover, .team-box-02 h3 a:hover {
	color: #e96f91
}
.products .gallery img {
	border: 0px;
	border-radius: 5px 5px 0 0;
}
.addtocart:after {
	background: #e96f91;
	content: "";
	height: 25px;
	margin-top: -4px;
	position: absolute;
	left: -13px;
	transform: rotate(45deg);
	width: 25px;
	z-index: -1;
	border-left: #FFF solid 1px;
	border-bottom: #FFF solid 1px;
}
.addtocart:before {
	width: 0;
	height: 0;
	border-top: 15px solid #e96f91;
	border-right: 15px solid transparent;
	content: "";
	height: 15px;
	width: 15px;
	right: 0px;
	bottom: -16px;
	position: absolute;
}
.addtocart {
	background: #e96f91;
	padding: 8px 15px 8px 8px;
	position: absolute;
	text-decoration: none;
	z-index: 300;
	border: #FFF solid 1px;
	right: -17px;
	bottom: 25px;
	opacity: 0;
}
.pro:hover .addtocart {
	display: block;
	opacity: 1;
	-webkit-transition: all .5s ease .5s;
	transition: all .5s ease .5s;
}
.addtocart a {
	color: #FFF
}
.clink, .cplus {
	background: rgba(255,255,255,.5);
	display: inline-block;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
.clink i, .cplus i {
	font-size: 16px;
	color: #FFF;
}
.pro-slider img {
	border-radius: 5px;
}
.pro-details .bx-wrapper .bx-controls-direction a {
	bottom: -80px;
	top: auto !important;
	background: none;
	text-indent: 0px;
	font-size: 0px;
}
.pro-details .bx-wrapper .bx-prev:before {
	content: "sss"
}
.pro-details .bx-wrapper {
	margin: 0 auto 20px !important;
}
.pro-details #bx-pager {
	margin-right: 0%;
	text-align:center;
}
#bx-pager > a img {
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 5px;
	border: #fff solid 3px;
	box-shadow: 0 0 5px #FFFFFF
}
#bx-pager > a img:hover, #bx-pager .active > img {
	border: #fff solid 3px;
	box-shadow: 0 0 5px rgba(0,0,0,.50);
	background: none !important;
}
.pro-details .bx-wrapper .bx-prev, .pro-details .bx-wrapper .bx-next {
	border: 1px solid #d6d6d6;
	border-radius: 32px;
	background: none;
	height: 32px;
	width: 32px;
	text-align: center;
}
.pro-details .bx-wrapper .bx-prev:after, .pro-details .bx-wrapper .bx-next:after {
	content: "";
	color: #d6d6d6;
	font-size: 20px;
	font-family: FontAwesome;
	line-height: 30px;
	text-decoration: none;
}
.pro-details .bx-wrapper a.bx-next:after {
	content: "";
}
.pro-details .bx-wrapper a:hover.bx-prev:after, .pro-details .bx-wrapper a:hover.bx-next:after {
	text-decoration: none;
	color: #F00;
}
.price {
	font-size: 18px;
 font-family:font-family: 'Roboto', sans-serif;
	background: #ed94a3;
	color: #FFF;
	font-weight: 400;
	padding: 5px 15px;
	margin: 12px 0 5px;
	display: inline-block;
}
.ptag {
	font-size: 14px;
font-family:font-family: 'Roboto', sans-serif;
	color: #666666;
	font-weight: 400;
}
.prod-top, .prod-details, .prod-info, .prod-color-share {
	display: block;
	border-bottom: #e1e1e1 solid 1px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.prod-top .title, .prod-top .sub-title {
	display: block;
	text-align: left;
	line-height: 100%;
	margin-bottom: 8px;
}
.prod-top .sub-title {
	color: #cccccc;
	text-transform: uppercase;
}
.pro-details .colors span:after {
	content: "";
	font-family: FontAwesome;
	font-size: 10px;
	margin-left: 3px;
	margin-right: 3px;
}
.pro-details .colors a {
	text-shadow: 0 0 2px #fff;
	padding: 1px;
}
.pro-details .colors a:hover {
	text-shadow: 0 0 2px #595959;
	padding: 1px;
}
.pro-details .colors span {
	font-size: 0px;
}
.pro-details .color1 {
	color: #ed1c24
}
.pro-details .color2 {
	color: #30abfb
}
.pro-details .color3 {
	color: #8dc63f
}
.pro-details .color4 {
	color: #ffcb05
}
.pro-details .color5 {
	color: #fa9d63
}
.prod-color-share .social, .prod-color-share .colors {
	position: relative;
	width: 49%;
	display: inline-block;
}
.prod-color-share .social [title]:after {
	content: ""
}
.prod-color-share .social a {
	margin-left: 0px;
	font-size: 16px;
	color: #CCC
}
.prod-buy ul > li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.prod-buy .minus {
	background: #FFF;
	border-right: 0px;
}
.prod-buy .plus {
	background: #FFF;
	border-left: 0px;
}
.prod-buy .input-text.qty {
	width: 40%
}
button.buyit {
	background: #e96f91;
	color: #FFF;
	border-radius: 1px;
	border: 0px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}
button.buyit:after {
	border-bottom: 17px solid rgba(0, 0, 0, 0);
	border-left: 18px solid #e96f91;
	border-top: 17px solid rgba(0, 0, 0, 0);
	content: "";
	margin-top: -8px;
	position: absolute;
	right: -18px;
}
.prod-graybg {
	background: #f5f5f5;
	padding: 30px 0 55px;
}
/*======================================= Product End ====================================*/



/*======================================= Pricing Table Start 02 ====================================*/

#pricing-table {
}
#pricing-table .plan {
	border: 1px solid #e1e1e1;
	position: relative;
	text-align: center;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#pricing-table .plan:hover {
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-o-transform: scale(1.03);
	cursor: pointer;
	z-index: 9999;
	position: relative;
	background: #fafafa;
}
#pricing-table .green h3, #pricing-table .green button {
	background: #a0b74f
}
#pricing-table .green h3 span {
	background: #72873c
}
#pricing-table .blue h3, #pricing-table .blue button {
	background: #59b2c4
}
#pricing-table .blue h3 span {
	background: #297585
}
#pricing-table .yellow h3, #pricing-table .yellow button {
	background: #edb230
}
#pricing-table .yellow h3 span {
	background: #c18631
}
#pricing-table .plan:before {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 12px solid #e1e1e1;
	border-right: 12px solid #fff;
	left: 0;
	bottom: 0px;
	position: absolute;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#pricing-table .plan:after {
	content: "";
	width: 0;
	height: 0;
	border-bottom: 12px solid #e1e1e1;
	border-left: 12px solid #fff;
	right: 0;
	bottom: 0px;
	position: absolute;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}
#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
#pricing-table h3 {
	font-size: 14px;
	font-weight: normal;
	padding: 24px;
	background-color: #d581b5;
	color: #FFF;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}
#pricing-table h3 span {
	display: block;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background: #9a5880;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	line-height: 85px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	text-transform: none;
}
.plan i {
	vertical-align: top;
	font-style: normal
}
#pricing-table h3 span strong {
	font-size: 30px;
	font-weight: 400;
}
#pricing-table ul {
	margin: 40px 0 0 0;
	padding: 0;
	list-style: none;
}
#pricing-table li {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	color: #999999;
	line-height: 50px;
	text-align: center;
}
#pricing-table li:nth-last-child(1) {
	border: 0px;
}
#pricing-table button {
	width: 80%;
	margin: 0 auto;
	background: #d581b5;
	color: #FFF;
	border-radius: 0px;
	border: 0px;
	line-height: 40px;
	margin-bottom: 20px;
	font-size: 14px;
}
#pricing-table .plan:hover:before {
	border-bottom: 26px solid #e1e1e1;
	border-right: 26px solid #fafafa;
}
#pricing-table .plan:hover:after {
	border-bottom: 26px solid #e1e1e1;
	border-left: 26px solid #fafafa;
}
/*======================================= Pricing Table End 02 ====================================*/


/*======================================= Pricing Table start 01 ====================================*/

.pricing-01 ul {
	border: 0px;
}
.pricing-01 ul:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	cursor: pointer;
	z-index: 9999;
	position: relative;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	border: 0px !important;
	border-radius: 10px;
}
.pricing-01 .price-col-1, .pricing-01 .price-col-2, .pricing-01 .price-col-3 {
	border-right: 1px solid #FFF
}
.pricing-01 ul:nth-last-child(1) {
	border-right: 1px solid #FFF !important
}
.pricing-01 li.last {
	margin: 0px;
	padding: 0px;
	border: 0px !important;
}
.pricing-01 ul.price-col-1 li:first-child, .pricing-01 ul.price-col-2 li:first-child, .pricing-01 ul.price-col-3 li:first-child, .pricing-01 ul.price-col-4 li:first-child {
	border-radius: 5px 5px 0 0;
}
.pricing-01 ul.price-col-1 li:first-child, .pricing-01 ul.price-col-1 li:nth-child(2), .pricing-01 ul.price-col-1 li:last-child button {
	background: #d581b5;
}
.pricing-01 ul.price-col-2 li:first-child, .pricing-01 ul.price-col-2 li:nth-child(2), .pricing-01 ul.price-col-2 li:last-child button {
	background: #a0b74f;
}
.pricing-01 ul.price-col-3 li:first-child, .pricing-01 ul.price-col-3 li:nth-child(2), .pricing-01 ul.price-col-3 li:last-child button {
	background: #b76c8c;
}
.pricing-01 ul.price-col-4 li:first-child, .pricing-01 ul.price-col-4 li:nth-child(2), .pricing-01 ul.price-col-4 li:last-child button {
	background: #ffcb05;
}
.pricing-01 button {
	width: 100%;
	border-radius: 0 0 5px 5px;
	background: #d581b5;
	border: 0px;
	margin: 0px;
	color: #FFF;
	font-size: 14px;
}
.pricing_table ul li:nth-child(1) {
	border-bottom: rgba(0,0,0,.35) solid 1px;
		padding:25px;
}
.pricing_table ul li:nth-child(2) {
	border-top: solid 1px rgba(255,255,255,.25);
}
.pricing-01 ul li:nth-child(n+3) {
	background: #FFF;
	border-left: #e1e1e1 solid 1px;
	border-right: #e1e1e1 solid 1px;
}
.pricing-01 ul li:nth-last-child(1) {
	background: none;
}
.pricing-01 .odd {
	background: #f5f5f5 !important
}
.pricing-01 h2, .pricing-01 span {
	color: #FFF
}
.pricing-01 ul.price-col-1 li:first-child, .pricing-01 ul.price-col-2 li:first-child, .pricing-01 ul.price-col-3 li:first-child, .pricing-01 ul.price-col-4 li:first-child {
	line-height: 38px;
}
.pricing-01 ul.price-col-1:hover, .pricing-01 ul.price-col-2:hover, .pricing-01 ul.price-col-3:hover, .pricing-01 ul.price-col-4:hover {
	border-bottom: 0px !important;
}
.pricing-01 ul.price-col-1:hover h2, .pricing-01 ul.price-col-1:hover span, .pricing-01 ul.price-col-2:hover h2, .pricing-01 ul.price-col-2:hover span, .pricing-01 ul.price-col-3:hover h2, .pricing-01 ul.price-col-3:hover span, .pricing-01 ul.price-col-4:hover h2, .pricing-01 ul.price-col-4:hover span {
	color: #fff !important
}
/*======================================= Pricing Table End 01 ====================================*/




#home-wrapper {
	display: block;
	width: 100%;
	margin: 0px auto;
}
#home-sidebar li {
	padding: 20px;
	color: #999
}
#home-sidebar li a {
	color: #999
}
#home-sidebar li span {
	color: #666
}
#home-sidebar li strong, #infowin-overlay strong {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
#home-sidebar li, #home-sidebar li:nth-child(3), #home-sidebar li:nth-child(5), #home-sidebar li:nth-child(7) {
	background-color: #f5f5f5;
}
#home-sidebar li:nth-child(2), #home-sidebar li:nth-child(4), #home-sidebar li:nth-child(6), #home-sidebar li:nth-child(8) {
	background-color: #fff;
}
#home-messages {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin: 0 0 25px 10px;
}
#home-sidebar {
	display: block;
	float: left;
	width: 25%;
}
#map-wrapper {
	display: block;
	float: right;
	width: 74%;
}
span.location {
	width: 80%;
	display: inline-block;
}
span.number {
	background: #999999;
	color: #FFF !important;
	font-size: 14px;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	vertical-align: top;
}
#map1 {
	display: block;
	width: 100%;
	height: 650px;
	padding: 0px;
}
#infowin-overlay {
	display: block;
	width: 400px;
	height: 150px;
	line-height: 25px;
}
#infowin-overlay strong {
	display: block;
	float: left;
	clear: left;
	width: 90px;
	line-height: 25px;
}
/*======================================= Client Review Start ====================================*/

.client-review-bg {
	background: url(../images/testimonial-bg.png) top center #a05068;
	overflow: hidden;
	height: 684px;
	clear: both;
	margin-bottom: 47px;
}
/*======================================= Client Review End ====================================*/


/*======================================= Calender ====================================*/
.ui-widget-content {
	padding: 0px !important;
	width: 300px !important;
	z-index:9999 !important;
}
.ui-widget-header {
	background: #999999 !important;
	border: 0px !important;
	color: #FFF !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	font-family: 'Open Sans', sans-serif !important;
}
.ui-state-active, .ui-state-default.ui-state-highlight, .ui-datepicker-today {
	background: #e1e1e1 !important;
	color: #666666 !important
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #FFF !important
}
.ui-datepicker td span, .ui-datepicker td a {
	padding: 10px !important;
	text-align: center !important;
}
/*======================================= Time Picker ====================================*/


.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 200px;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}
.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 11em;
}
.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ui-timepicker-duration {
	margin-left: 5px;
	color: #888;
}
.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}
.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}
.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff;
	color: #000;
}
li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC;
	color: #fff;
}
li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}
.ui-timepicker-list li.ui-timepicker-disabled, .ui-timepicker-list li.ui-timepicker-disabled:hover, .ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}
.ui-timepicker-list li.ui-timepicker-disabled:hover, .ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}
.stripes span {
	animation: 3s linear 0s normal none infinite animate-stripes;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-size: 30px 30px;
}
@-moz-keyframes animate-stripes {
0% {
 background-position: 0 0;
}
100% {
 background-position: 60px 0;
}
}
.success-message {
	background: #dff2bf;
	padding: 5px;
	border: #4f8a10 solid 1px;
	text-align: center;
	color: #4f8a10;
	font-size: 18px;
	width: 50%;
	margin: 20px auto;
}
#map {
	display: block;
	width: 100%;
	height: 220px;
	margin: 0 auto;
	border-radius: 5px;
	border: #cccccc solid 1px;
	margin-bottom: 17px;
}
#map.large {
	height: 500px;
}
.overlay {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 60px;
	line-height: 80px;
	opacity: 0.8;
	background: #4477aa;
	border: solid 3px #336699;
	ghjkgjkg
	border-radius: 4px;
	box-shadow: 2px 2px 10px #333;
	text-shadow: 1px 1px 1px #666;
	padding: 0 4px;
}
.overlay_arrow {
	left: 50%;
	margin-left: -16px;
	width: 0;
	height: 0;
	position: absolute;
}
.overlay_arrow.above {
	bottom: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #336699;
}
.overlay_arrow.below {
	top: -15px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #336699;
}