@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:300);
body {
	margin: 0px;
	background: #e96f91
}
.wrap {
	width: 100%;
	margin: 0 auto
}
.header {
	background: url(images/patt.jpg);
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.50);
}
img {
	border: 0px;
}
.layout-col1 {
	width: 25%;
	float: left;
	background: #e96f91;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}
.layout-col2 {
	width: 25%;
	float: left;
	background: #c0617d;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.button {
	background: #c0617d;
	box-shadow: -1px 1px 0 #bd5b77,  -2px 2px 0 #bd5b77,  -3px 3px 0 #bd5b77,  -4px 4px 0 #bd5b77,  -5px 5px 0 #bd5b77,  -6px 6px 0 #bd5b77,  -7px 7px 0 #bd5b77,  -8px 8px 0 #bd5b77,  -9px 9px 0 #bd5b77,  -10px 10px 0 #bd5b77,  -11px 11px 0 #bd5b77,  -12px 12px 0 #bd5b77;
	border: 0px;
	color: #FFF;
	position: relative;
	width: 240px;
	margin: 0 auto;
	display: block;
	line-height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
.button a {
	display: block;
	color: #FFF;
	text-decoration: none;
}
.button a:hover {
	display: block;
	color: #FFF;
	text-decoration: none;
	background: #e96f91;
	box-shadow: -1px 1px 0 #90495e,  -2px 2px 0 #90495e,  -3px 3px 0 #90495e,  -4px 4px 0 #90495e,  -5px 5px 0 #90495e,  -6px 6px 0 #90495e,  -7px 7px 0 #90495e,  -8px 8px 0 #90495e,  -9px 9px 0 #90495e,  -10px 10px 0 #90495e,  -11px 11px 0 #90495e,  -12px 12px 0 #90495e;
}



.button2 {
	background: #e96f91;
	box-shadow: -1px 1px 0 #bd5b77,  -2px 2px 0 #bd5b77,  -3px 3px 0 #bd5b77,  -4px 4px 0 #bd5b77,  -5px 5px 0 #bd5b77,  -6px 6px 0 #bd5b77,  -7px 7px 0 #bd5b77,  -8px 8px 0 #bd5b77,  -9px 9px 0 #bd5b77,  -10px 10px 0 #bd5b77,  -11px 11px 0 #bd5b77,  -12px 12px 0 #bd5b77;
	border: 0px;
	color: #FFF;
	position: relative;
	width: 240px;
	margin: 0 auto;
	display: block;
	line-height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}
.button2 a {
	display: block;
	color: #FFF;
	text-decoration: none;
}
.button2 a:hover {
	display: block;
	color: #FFF;
	text-decoration: none;
	background: #e96f91;
	box-shadow: -1px 1px 0 #90495e,  -2px 2px 0 #90495e,  -3px 3px 0 #90495e,  -4px 4px 0 #90495e,  -5px 5px 0 #90495e,  -6px 6px 0 #90495e,  -7px 7px 0 #90495e,  -8px 8px 0 #90495e,  -9px 9px 0 #90495e,  -10px 10px 0 #90495e,  -11px 11px 0 #90495e,  -12px 12px 0 #90495e;
	
}

.box-top {height:28px; background: url(images/topbar.png) top center no-repeat; position:relative; z-index:99999;}

.box {
	width: 313px;
	margin: 0 auto 77px;
	height: 500px;
	border-radius: 5px;
	position:relative;
	height: 495px;
	overflow: hidden;
	box-shadow: -1px 1px 0 #bd5b77,  -2px 2px 0 #bd5b77,  -3px 3px 0 #bd5b77,  -4px 4px 0 #bd5b77,  -5px 5px 0 #bd5b77,  -6px 6px 0 #bd5b77,  -7px 7px 0 #bd5b77,  -8px 8px 0 #bd5b77,  -9px 9px 0 #bd5b77,  -10px 10px 0 #bd5b77,  -11px 11px 0 #bd5b77,  -12px 12px 0 #bd5b77,  -13px 13px 0 #bd5b77,  -14px 14px 0 #bd5b77;
		-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	z-index:999;

}


.frame { position:relative; top:0px; z-index:99;}

.thumb {position:absolute; left:0px; top:0px; -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;}
.frame:hover .thumb {left:0px; top:-420px;  

		-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;





 }

.footer{

	background-color:#666;

	padding:15px 0px;

	float:left;

	width:100%;

	text-align:center;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

}

.footer p{

	margin:0px;

	font-size:11px;

	color:#fff;

}